body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f7f7f7;
  color: #282828;
}

h1,
h2,
h3,
h4,
h6 {
  margin: 0 0 .25em 0;
}

img {
  max-width: 100%;
  margin: 0 0 1em;
}

.container {
  position: relative;
  max-width: 100%;
  margin: 2em auto;
  overflow: hidden;
}

.main,
.sidebar {
  float: left;
  padding: .25em;
}

.main {
  width: 80%;
}

.sidebar {
  position: absolute;
  width: 20%;
  margin-left: 80%;
  padding: 40px;
}

.is-fixed {
  position: fixed;
  top: 20px;
  width: 24%;
  margin-left: 36%;
}

.word {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 2rem;
  text-align: center;
  color: #d3d3d3;
  background-color: #222222;
}

#nodefaultlink {
  color: #d3d3d3;
}